In [1]:
import random
import pandas as pd

In [2]:
# Set random seed for reproducibility
random.seed(42)

# Sample student names
first_names = ["Aarav", "Vihaan", "Aditya", "Arjun", "Kabir", "Ishaan", "Rohan", "Aryan", "Kunal", "Siddharth",
               "Ananya", "Isha", "Riya", "Diya", "Aditi", "Kavya", "Meera", "Nisha", "Simran", "Tanvi",
               "Priya", "Sneha", "Pooja", "Shreya", "Neha"]
last_names = ["Sharma", "Verma", "Gupta", "Patel", "Reddy", "Iyer", "Das", "Nair", "Khan", "Singh",
              "Chopra", "Joshi", "Mishra", "Agarwal", "Bansal", "Saxena", "Pandey", "Yadav", "Dubey", "Trivedi"]

In [3]:
# Data Structures
# Algorithms
# Database Management Systems (DBMS)
# Operating Systems (OS)
# Artificial Intelligence (AI)
# Machine Learning (ML)
# Subjects
subjects = ["Data Structures", "Algorithms", "DBMS", "OS",
            "AI", "ML"]

In [4]:
# Generate synthetic dataset of 50 students
students_data = []
for i in range(50):
    student_name = f"{random.choice(first_names)} {random.choice(last_names)}"
    subject = random.choice(subjects)
    marks = random.randint(40, 100)
    assignments_completed = random.randint(5, 10)
    attendance = round(random.uniform(60, 100), 2)
    
    # Remarks based on performance
    if marks > 85 and attendance > 85:
        remarks = "Excellent"
    elif marks > 70:
        remarks = "Good"
    elif marks > 50:
        remarks = "Average"
    else:
        remarks = "Needs Improvement"
    
    students_data.append([student_name, subject, marks, assignments_completed, attendance, remarks])

In [5]:

# Create DataFrame
df_students = pd.DataFrame(students_data, columns=["Student Name", "Subject", "Marks", "Assignments Completed", "Attendance %", "Remarks"])

In [9]:
df_students.shape

(50, 6)

In [10]:
df_students.to_csv("students.csv", index=False)

In [11]:
df = pd.read_csv("students.csv")

In [ ]:
df.head()

,Student Name,Subject,Marks,Assignments Completed,Attendance %,Remarks
0,Priya Patel,Data Structures,87,7,69.80,Good
1,Kabir Patel,ML,87,9,63.48,Good
2,Diya Verma,Data Structures,45,6,69.31,Needs Improvement
3,Tanvi Sharma,AI,52,10,86.00,Average
4,Nisha Agarwal,Algorithms,68,9,71.13,Average